
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
a{
    color: black;
}
h1{
    font-size: 1.5em;
    font-family: sans-serif;
    margin-top: 3%;
}
h2{
    font-size: 1.0em;
    font-family: sans-serif;
}
div{
    background-color: black;
    width: 320px;
    height: 200px;
    margin-top: 5%;
    border: solid gray;
    border-radius: 10px;
    color: white;
}
div a{
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div h1{
    font-size: 20px;
    padding: 1%;
}
div h2{
    font-size: 13px;
    padding: 1%;
}
div:hover{
    transform: scale(1.10);
}
/*////////////////////////////////////////////////////////////////////////////*/
#topo{
    width: 100%;
    background-color: rgba(0, 0, 255, 0.681);
}
#cabecalho{
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    width: 100%;
    height: 100%;
    position: absolute;
}

#corpo-pagina{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#esquerda{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
#esquerda aside{
    padding: 2%;
}
#direita{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#direita aside{
    padding: 3%;
}

#rodape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
