
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}
a{
    color: black;
}
h1{
    font-size: 1.5em;
    font-family: sans-serif;
    margin-top: 3%;
}
h2{
    margin-top: 0;
    font-size: 1.0em;
    font-family: sans-serif;
}
div{
    background-color: black;
    width: 320px;
    height: 200px;
    border: solid gray;
    border-radius: 10px;
    color: white;
}
div a{
    color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
}
div:hover{
    transform: scale(1.10);
}

h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
}

img{
    width: 190px;
}
#luc{
    width: 50%;
}
/*////////////////////////////////////////////////////////////////////////////*/
#topo{
    width: 100%;
    height: 10%;
}
#cabecalho{
    background: linear-gradient( blue 1%, green 100%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    width: 100%;
    height: 100%;
    position: absolute;
}

#corpo-pagina{
    background: linear-gradient(45deg,green, blue);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#direita{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#direita aside{
    width: 100%;
    height: 100%;
}
.mySwiper {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rodape{
    background-color: blue;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 500px){
    #topo{
        width: 100%;
        background-color: rgba(0, 0, 255, 0.681);
    }
    #cabecalho{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    body{
        background-color: blue;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    #corpo-pagina{
        width: 100%;
        height: 100%;
        display: flex;
    }
    
    #esquerda{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #esquerda aside{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 2%;
    }
    #direita{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #rodape{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
